In [1]:
import pandas as pd
df = pd.read_csv('aapl2.csv')
df.head()

         Date  Close/Last    Volume       Open      High         Low
0  06/23/2020     $366.53  53038870       $364   $372.38   $362.2701
1  06/22/2020     $358.87  33861320    $351.34   $359.46     $351.15
2  06/19/2020     $349.72  66118950   $354.635   $356.56     $345.15
3  06/18/2020     $351.73  24205100    $351.41   $353.45     $349.22
4  06/17/2020     $351.59  28601630    $355.15    $355.4     $351.09

In [2]:
df.shape

(2517, 6)

In [3]:
df.columns

Index(['Date', ' Close/Last', ' Volume', ' Open', ' High', ' Low'], dtype='object')

In [4]:
df.columns = df.columns.str.lstrip()
df.rename({'Close/Last':'Close'}, axis=1, inplace=True)
df.columns

Index(['Date', 'Close', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [5]:
df['Date'] = pd.to_datetime(df.Date)
df.head()

        Date     Close    Volume       Open      High         Low
0 2020-06-23   $366.53  53038870       $364   $372.38   $362.2701
1 2020-06-22   $358.87  33861320    $351.34   $359.46     $351.15
2 2020-06-19   $349.72  66118950   $354.635   $356.56     $345.15
3 2020-06-18   $351.73  24205100    $351.41   $353.45     $349.22
4 2020-06-17   $351.59  28601630    $355.15    $355.4     $351.09

In [6]:
df.dtypes

Date      datetime64[ns]
Close             object
Volume             int64
Open              object
High              object
Low               object
dtype: object

In [7]:
df = df.set_index('Date')
df.head()

               Close    Volume       Open      High         Low
Date
2020-06-23   $366.53  53038870       $364   $372.38   $362.2701
2020-06-22   $358.87  33861320    $351.34   $359.46     $351.15
2020-06-19   $349.72  66118950   $354.635   $356.56     $345.15
2020-06-18   $351.73  24205100    $351.41   $353.45     $349.22
2020-06-17   $351.59  28601630    $355.15    $355.4     $351.09

In [8]:
df.dtypes

Close     object
Volume     int64
Open      object
High      object
Low       object
dtype: object

In [9]:
def convert_to_float(x):
    if '$' in str(x):
        x = x.split('$')[1]
        return float(x)
    return float(x)

In [11]:
df1 = df.copy()
df1['Close'] = df1['Close'].apply(convert_to_float)
df1['Open'] = df1['Open'].apply(convert_to_float)
df1['High'] = df1['High'].apply(convert_to_float)
df1['Low'] = df1['Low'].apply(convert_to_float)
df1.head()

             Close    Volume     Open    High       Low
Date
2020-06-23  366.53  53038870  364.000  372.38  362.2701
2020-06-22  358.87  33861320  351.340  359.46  351.1500
2020-06-19  349.72  66118950  354.635  356.56  345.1500
2020-06-18  351.73  24205100  351.410  353.45  349.2200
2020-06-17  351.59  28601630  355.150  355.40  351.0900

In [12]:
df1.to_csv('aapl1.csv')